
/* Cambio color botones y progress bar */

.btn-primary {
    background-color: #1ce91c!important;
    border-color: #1ce91c!important;
}

.progress {
    --bs-progress-bar-bg: #1ce91c!important;
}
